# Ignorar carpeta de datos de Postgres
data/

# Ignorar entornos virtuales
venv/

# Archivos de Python compilados
*.pyc
__pycache__/

# Configuración local de VS Code
.vscode/

# Datos crudos
raw_data/

# Archivos temporales de sistema
.DS_Store
Thumbs.db